<!DOCTYPE html>
<html>

<head>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    </link>
</head>

<body>
    <header>
        <h1>Reddit Reader</h1>
        <h3>A service to aggregate all your favourite subreddits</h3>
    </header>
    <main>
        <form action="/read">
            <h4>Select the subreddits you're interested on:</h4>
            <ul>
                <li>
                    <input type="checkbox" name="javascript" id="javascript">
                    <label for="javascript">
                        r/javascript
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="reactjs" id="reactjs">
                    <label for="reactjs">
                        r/reactjs
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="reactnative" id="reactnative">
                    <label for="reactnative">
                        r/reactnative
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="programming" id="programming">
                    <label for="programming">
                        r/programming
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="css" id="css">
                    <label for="css">
                        r/css
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="html" id="html">
                    <label for="html">
                        r/html
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="node" id="node">
                    <label for="node">
                        r/node
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="python" id="python">
                    <label for="python">
                        r/python
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="django" id="django">
                    <label for="django">
                        r/django
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="Flask" id="Flask">
                    <label for="Flask">
                        r/Flask
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="csharp" id="csharp">
                    <label for="csharp">
                        r/csharp
                    </label>
                </li>
            </ul>
            <button type="submit">Aggregate</button>
        </form>
    </main>
</body>

</html>
